doctype html
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title= title
    link(rel='stylesheet', href='lib/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='stylesheets/style.css')
  body
    div(class='container')
      nav(class='navbar navbar-inverse')
        div(class='container-fluid')
          div(class='navbar-header')
            button(type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#bs-example-navbar-collapse-1' aria-expanded='false')
              span(class='sr-only') Toggle navigation
              span(class='icon-bar')
              span(class='icon-bar')
              span(class='icon-bar')
            a(class='navbar-brand' href='#') Jorge Augusto Barsoba
          div(id='bs-example-navbar-collapse-1' class='collapse navbar-collapse')
            ul(class='nav navbar-nav')
              li
                a(href='#') Obra
              li
                a(href='#') Biografía
              li
                a(href='#') Contacto
    div(class='container')
      block content
    script(src='lib/jquery/jquery.min.js')
    script(src='lib/bootstrap/js/bootstrap.min.js')
