extends layout

block content
  div(id='myCarousel' class='carousel slide' data-ride='carousel')
    div(class='carousel-inner')
      div(class='item active')
        div(id='paintings')
      div(class='item')
        div(id='paintings2')
