extends layout

block content
  div(id='gallery-main' class='carousel slide' data-ride='carousel')
    div(class='carousel-inner')
      - for(var i = 0; i < paintings.length; i++)
        != '<div class=\'paintings gallery-main item' + (i == 0 ? ' active\'' : '\'') + ' style=\"background-image: url(../images/paintings/' + paintings[i] + ')\"></div>'
    a(class='left carousel-control' href='#gallery-main' data-slide='prev')
      span(class='glyphicon glyphicon-chevron-left')
      span(class='sr-only') Previous
    a(class='right carousel-control' href='#gallery-main' data-slide='next')
      span(class='glyphicon glyphicon-chevron-right')
      span(class='sr-only') Next
  div(id='gallery-thumbnails' class='carousel slide' data-ride='carousel')
    div(class='carousel-inner')
      -
        var numberOfImagesPerCarouselItem = 4;

        function getNumberOfCarouselItems(paintings) {
          return Math.ceil(paintings.length / numberOfImagesPerCarouselItem);
        }

        var paintingsIndex = 0;

      - for(var i = 0; i < getNumberOfCarouselItems(paintings); i++)
        != '<div class=\'item' + (i == 0 ? ' active\'' : '\'') + '>'
        - for(var j = 0; j < numberOfImagesPerCarouselItem && paintingsIndex < paintings.length; j++)
          - if (j == 0)
            != '<div class=\'row\'><div class=\'col-xs-2\'></div>'
          != '<div class=\'col-xs-2 paintings gallery-thumbnails\'' + ' style=\"background-image: url(../images/paintings/' + paintings[paintingsIndex++] + ')\"></div>'
        != '<div class=\'col-xs-2\'></div>'
        != '</div><!--/row-->'
        != '</div><!--/item-->'
    a(class='left carousel-control' href='#gallery-thumbnails' data-slide='prev')
      span(class='glyphicon glyphicon-chevron-left')
      span(class='sr-only') Previous
    a(class='right carousel-control' href='#gallery-thumbnails' data-slide='next')
      span(class='glyphicon glyphicon-chevron-right')
      span(class='sr-only') Next
