extends layout

block content
  div(id='myCarousel' class='carousel slide' data-ride='carousel')
    div(class='carousel-inner')
      - for(var i = 0; i < paintings.length; i++)
        != '<div class=\'paintings item' + (i == 0 ? ' active\'' : '\'') + ' style=\"background-image: url(' + '../images/paintings/' + paintings[i] + ')\"></div>'
