body {
  background-color: black;
  padding-top: 20px;
}

.paintings {
  /* 80% size of the viewport */
  height: 80vh;

  /* Background image */
  background-image: url("../images/paintings/abstraccion.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-origin: padding-box;
  background-clip: border-box;
  background-attachment: scroll;
}

.gallery-main {
  height: 70vh;
  margin-bottom: 5px;
}

.gallery-thumbnails {
  height: 10vh;
  border-color: #000000;
  border-style: solid;
  border-width: 2px;
}

.gallery-thumbnails:hover {
  border-color: #ABB2B9;
}
